.container{
   justify-content: center;
   align-items: center;
   height: inherit;
   box-shadow: none;
   height: 100%;
}

.containerConversor{
    display: flex;
    height: 100%;	
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    
}
.row-input{
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row-botoes{
    margin: 30px !important;
}

.image-conversor{
    background-image: url("../../assets/romano.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}