header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232D36;

}

main {
    display: flex !important;

}

footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
