/* Restaurante.css */

.titulo-secao {
    color: yellow;
  }
  
  .lista-clientes {
    list-style-type: none;
    padding: 0;
  }
  
  .item-cliente {
    margin-bottom: 10px;
  }
  
  .botao-calcular {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .lista-pagamentos {
    list-style-type: none;
    padding: 0;
  }
  
  .item-pagamento {
    margin-bottom: 5px;
  }
  
  .formularioCliente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .areaCliente{
    display: flex;
    margin: 20px;
  }
    
  .inputCliente{
    margin: 0 20px 0 20px;
  }

  .radioBtn{
    margin: 0 0 0 20px;
  }
  