*{
  box-sizing: border-box;
  /* border: solid 1px red; */
  margin: 0;
  padding: 0;
}
html {
  min-height: 100vh;
}

body { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  
  flex: auto;
}
header{
  height: 10vh;
}
header .container-fluid{
 
  background-color: #FFA300;
}
footer{
  height: 8vh;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}